*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/*---*/

html {
  font-size: 16px;
}

/*---*/

body {
  font-family: sans-serif;
}

/*---*/

#container {
  min-width: 840px;
  min-height: 100vh;

  background-color: darkgray;
  background-image: linear-gradient(rgb(139, 226, 248), rgb(218, 255, 203));
  /*overflow: hidden;*/

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/*---*/

header {
  /*max-width: 50rem;*/
  /*width: 80%;*/

  padding: 1rem;

  border: solid #999 0.1rem;
  border-radius: 0.3rem;

  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

/*---*/

h2 {
  margin-right: 3rem;

  color: azure;
  color: coral;
  font-size: 2.4rem;
  text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.7);
}

/*---*/

main {
  max-width: 80rem;
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

/*---*/

form {
  padding: 1rem;

  border: solid #999 0.1rem;
  border-radius: 0.3rem;
  border-spacing: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem
}

/*---*/

.fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

/* --- */

.fieldset:last-of-type {
  margin-top: 1rem;

  gap: 2rem;
}

/* --- */

.botones {
  margin-top: 1rem;

  display: flex;
  justify-content: center;
  justify-content: space-around;
  /*justify-content: space-between;*/
  align-items: center;
}

/* --- */

label {
  width: 15rem;

  color: azure;
  color: coral;

  font-size: 1.4rem;
  text-align: right;
  text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.7);
}

/* --- */

input {
  height: 1.8rem;

  font-family: sans-serif;
  font-size: 1.2rem;

  flex: auto;
}

/* --- */

select {
  height: 1.8rem;

  font-family: sans-serif;
  font-size: 1.2rem;

  flex: auto;
}

/* --- */

textarea {
  font-family: sans-serif;
  font-size: 1.2rem;

  flex: auto;
}

/* --- */

.btn {
  width: 10rem;

  padding: .5rem 0;

  color: azure;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.5);

  border-radius: .2rem;
  box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.5);

  display: inline-block;
}

.btn:hover {
  color: lightblue;

  box-shadow: .2rem .2rem .4rem rgba(0, 0, 0, 0.5);
}

.btn:active {
  color: lightcyan;

  box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.5);
}

/* --- */

.btn-listar {
  background-color: green;
  /*background-color: darkgreen;*/
}

/* --- */

.btn-submit {
  background-color: darkgreen;
  background-color: deepskyblue;
  background-color: mediumblue;
  background-color: royalblue;
}

/* --- */

.btn-reset {
  background-color: darkgreen;
  background-color: deepskyblue;
  background-color: mediumblue;
  background-color: grey;
}



