*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/*---*/

html {
  font-size: 16px;
  /*font-size: 14px;*/
}

/*---*/

body {
  font-family: sans-serif;
}

/*---*/

#container {
  min-width: 840px;
  min-height: 100vh;

  background-color: darkgray;
  background-image: linear-gradient(rgb(139, 226, 248), rgb(218, 255, 203));
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/*---*/

main {
  width: 90%;
  max-width: 70rem;

  padding: 1rem;
  margin-bottom: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

/* --- */

main > h2 {
  padding: 1rem;

  color: yellow;
  color: gold;
  color: tomato;
  font-size: 3rem;
  text-align: center;
  text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 0.7);

  border: solid #999 0.1rem;
}

/* --- */

main header {
  height: 4rem;

  padding: .2rem 1rem;

  border: solid #999 0.1rem;
  border-radius: 0.3rem;

  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/*---*/

main header h2 {
  color: yellow;
  color: gold;
  font-size: 3rem;
  font-size: 2rem;
  text-align: center;
  text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 0.7);
}

/*---*/

@media(max-width: 900px) {
  main {
    width: 100%;
    min-width: 520px;
  }

  main header {
    flex-direction: column;
  }
}