main th:nth-child(1), td:nth-child(1) {
  width: 5rem;

  text-align: center;
}

/* --- */

main th:nth-child(2), td:nth-child(2) {
  width: 30rem;

  text-align: left;
}

/* --- */

main th:nth-child(3), td:nth-child(3) {
  width: 4rem;
  /*width: auto;*/

  text-align: center;
}

/* --- */

main th:nth-child(4), td:nth-child(4) {
  width: 15rem;

  text-align: left;
}

/* --- */

main th:nth-child(5), td:nth-child(5) {
  width: 7rem;

  text-align: center;
}
